<?xml version="1.0"?>

<robot name="robot"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:arg name="robot_name" default="robot"/>

	<xacro:include filename="$(find robot_description)/urdf/base/robot_base.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/base/gazebo_essentials.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/control/diff_ros2_control.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/sensors/lidar.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/wheels/wheel.xacro" />

	<xacro:property name="wheel_offset_x" value="0.25" />
	<xacro:property name="wheel_offset_y" value="0.15" />
	<xacro:property name="wheel_offset_z" value="0.0" />
	<xacro:property name="PI" value="3.1415926535897931" />
	
	<xacro:robot_base robot_name="$(arg robot_name)"/>
    <xacro:gazebo_essentials robot_name="$(arg robot_name)"/>


	<xacro:robot_wheel prefix="$(arg robot_name)_front_left" parent="$(arg robot_name)_base_link" origin="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}"/>
	<xacro:robot_wheel prefix="$(arg robot_name)_front_right" parent="$(arg robot_name)_base_link" origin="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}"/>
	<xacro:robot_wheel prefix="$(arg robot_name)_back_right" parent="$(arg robot_name)_base_link" origin="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}"/>
	<xacro:robot_wheel prefix="$(arg robot_name)_back_left" parent="$(arg robot_name)_base_link" origin="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}"/>

	
	<xacro:diff_drive robot_name="$(arg robot_name)"/>

	<xacro:lidar robot_name="$(arg robot_name)"/>
	

</robot>