<?xml version="1.0"?> 

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_description"> 

<xacro:macro name="robot_base" params="robot_name"> 

    <xacro:property name="black" value="0.0 0.0 0.0 1"/> 

      <link name="${robot_name}_base_link">
        <collision>
          <origin xyz="0 0 0.0" rpy="0 0 0" />
          <geometry>
            <box size="0.50 0.30 0.10" />
          </geometry>
          <surface>
            <contact>
              <category_bitmask>0x02</category_bitmask>
              <collide_bitmask>0xFFFD</collide_bitmask>
            </contact>
          </surface>
        </collision>
        <inertial>
          <mass value="5.0" />
          <origin xyz="0 0 0" />
          <inertia ixx="1.391" ixy="0.004" ixz="0.0" iyy="6.853" iyz="0.0" izz="6.125" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.50 0.30 0.10" />
          </geometry>
          <material name="wheel_material">
            <color rgba="0.0 0.0 0.0 1.0"/>
        </material> 
        </visual>
      </link>

    <gazebo reference="${robot_name}_base_link">
      <material>Gazebo/Black</material>
    </gazebo>

    <!--joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0.10" rpy="0 0 0" />
      <parent link="base_footprint" />
      <child link="${robot_name}_base_link" />
    </joint>

    <link name="base_footprint">
    </link-->

</xacro:macro>

</robot> 
